## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 151](#1)
* [Exercise 152](#2)
* [Exercise 153](#3)
* [Exercise 154](#4)
* [Exercise 155](#5)
* [Exercise 156](#6)
* [Exercise 157](#7)
* [Exercise 158](#8)
* [Exercise 159](#9)
* [Exercise 160](#10)

### <a name='0'></a> Import of libraries

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.19.2'

### <a name='1'></a> Exercise 151
The following _DataFrame_ object is given:
```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [18]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

Extract the rows of the _df_ object for which the _C_ column is greater than 0.8.

In [3]:
df[df['C'] > 0.8]

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

### <a name='2'></a> Exercise 152
Extract the rows of the _df_ object for which the _C_ column is greater than 0.3 and the _D_ column is less than 0.7.

In [4]:
df[(df['C'] > 0.3) & (df['D'] < 0.7)]

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### <a name='3'></a> Exercise 153
Iterate through the first five rows of the _df_ object. Print each row to the console.

__Tip:__ Use the _pd.DataFrame.iterrows()_ function.

In [7]:
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

### <a name='4'></a> Exercise 154
Set the value in row with index 3 for column B as _np.nan_.
Use _df.iloc_.

In [19]:
df.iloc[3]['C'] = np.nan
df

          A         B         C         D
0  0.863103  0.623298  0.330898  0.063558
1  0.310982  0.325183  0.729606  0.637557
2  0.887213  0.472215  0.119594  0.713245
3  0.760785  0.561277       NaN  0.493796
4  0.522733  0.427541  0.025419  0.107891
5  0.031429  0.636410  0.314356  0.508571
6  0.907566  0.249292  0.410383  0.755551
7  0.228798  0.076980  0.289751  0.161221
8  0.929698  0.808120  0.633404  0.871461
9  0.803672  0.186570  0.892559  0.539342

Set the value in the row at index 8 for column D as _np.nan_. Use _df.loc_.

In [20]:
df.loc[8]["D"] = np.nan
df

          A         B         C         D
0  0.863103  0.623298  0.330898  0.063558
1  0.310982  0.325183  0.729606  0.637557
2  0.887213  0.472215  0.119594  0.713245
3  0.760785  0.561277       NaN  0.493796
4  0.522733  0.427541  0.025419  0.107891
5  0.031429  0.636410  0.314356  0.508571
6  0.907566  0.249292  0.410383  0.755551
7  0.228798  0.076980  0.289751  0.161221
8  0.929698  0.808120  0.633404       NaN
9  0.803672  0.186570  0.892559  0.539342

### <a name='5'></a> Exercise 155
Delete all rows from object _df_ containing missing values and assign to variable _df1_. Display variable _df1_.

In [24]:
df1 = df.dropna()
df1

          A         B         C         D
0  0.863103  0.623298  0.330898  0.063558
1  0.310982  0.325183  0.729606  0.637557
2  0.887213  0.472215  0.119594  0.713245
4  0.522733  0.427541  0.025419  0.107891
5  0.031429  0.636410  0.314356  0.508571
6  0.907566  0.249292  0.410383  0.755551
7  0.228798  0.076980  0.289751  0.161221
9  0.803672  0.186570  0.892559  0.539342

### <a name='6'></a> Exercise 156
Note that the index after removing two rows in the _df1_ object is not in turn. Reset the index (do not add a new column, just reset the index). Display variable _df1_.

In [25]:
df1.reset_index(drop=True)

          A         B         C         D
0  0.863103  0.623298  0.330898  0.063558
1  0.310982  0.325183  0.729606  0.637557
2  0.887213  0.472215  0.119594  0.713245
3  0.522733  0.427541  0.025419  0.107891
4  0.031429  0.636410  0.314356  0.508571
5  0.907566  0.249292  0.410383  0.755551
6  0.228798  0.076980  0.289751  0.161221
7  0.803672  0.186570  0.892559  0.539342

### <a name='7'></a> Exercise 157
Let's go back to the _df_  object. Determine the number of missing elements in the _df_ object for each column.

In [26]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

### <a name='8'></a> Exercise 158
Fill in the missing values with the value 0 and assign to the variable _df_.

In [27]:
df = df.fillna(0)
df

          A         B         C         D
0  0.863103  0.623298  0.330898  0.063558
1  0.310982  0.325183  0.729606  0.637557
2  0.887213  0.472215  0.119594  0.713245
3  0.760785  0.561277  0.000000  0.493796
4  0.522733  0.427541  0.025419  0.107891
5  0.031429  0.636410  0.314356  0.508571
6  0.907566  0.249292  0.410383  0.755551
7  0.228798  0.076980  0.289751  0.161221
8  0.929698  0.808120  0.633404  0.000000
9  0.803672  0.186570  0.892559  0.539342

### <a name='9'></a> Exercise 159
Replace the order of the columns in the _df_ object with the one given below:
* D, A, B, C

and assign to _df_.

In [29]:
df = df[["D", "A", "B", "C"]]
df

          D         A         B         C
0  0.063558  0.863103  0.623298  0.330898
1  0.637557  0.310982  0.325183  0.729606
2  0.713245  0.887213  0.472215  0.119594
3  0.493796  0.760785  0.561277  0.000000
4  0.107891  0.522733  0.427541  0.025419
5  0.508571  0.031429  0.636410  0.314356
6  0.755551  0.907566  0.249292  0.410383
7  0.161221  0.228798  0.076980  0.289751
8  0.000000  0.929698  0.808120  0.633404
9  0.539342  0.803672  0.186570  0.892559

### <a name='10'></a> Exercise 160
Remove the $ D $ column from the _df_ object.

In [31]:
df.drop("D", axis =1)

          A         B         C
0  0.863103  0.623298  0.330898
1  0.310982  0.325183  0.729606
2  0.887213  0.472215  0.119594
3  0.760785  0.561277  0.000000
4  0.522733  0.427541  0.025419
5  0.031429  0.636410  0.314356
6  0.907566  0.249292  0.410383
7  0.228798  0.076980  0.289751
8  0.929698  0.808120  0.633404
9  0.803672  0.186570  0.892559